#menuButton {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  #menuButton {
    display: none;
  }
}

.navigation {
  display: none;
  flex-direction: column;
}

.navigation.open {
  display: flex;
}
